@import '_variable';

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: $bk-grd-color;
    color: $site-font-color;
    font-family: $site-font-fam;
}

body {
    position: relative;
}

@import '_header';

header {
    background-color: black;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: $grid-temp-col;
    justify-items: center;
    align-items: center;
    height: $header-height;
}

#site-logo {
    width: $site-logo-width;
}

header { 
    a {
        color: $hd-link-color;
        padding: $hd-link-pad;
        font-size: $hd-link-font-size;
    }
    & a:hover {
        padding: 10px;
        color: white;
        background-color: #464d55;
        font-size: 1.3em;
        transition: color 1s;
    }
    & a:visited {
        color: pink ;
    }
    & a:link {
        font-weight: bold;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "title-text title-text"
        "about about"
        "site-video site-video"
        "blog-photo blog-content";
    height: 100%;
    align-items: center;
    justify-items: center;
}

#title-text {
    grid-area: title-text;
    height: 10vh;
    padding-top: 50px;
    @mixin animation-welcome-slide();
    
#about {
    grid-area: about;
    height: 80vh;
    width: 65vw;
}

#about > #about-us {
    text-align: center;
}

#site-video {
    grid-area: site-video;
    height: 60vh;
}

#blog-photo { 
    img {
        grid-area: blog-photo;  
        height: 60vh; 
        width: 100%;
        object-fit: cover;
    }
    & img:hover {
        border: 3px solid white;
        opacity: 80%;
        transition: 1s;
    }
}

#blog-content {
    grid-area: blog-content;
    height: 60vh;
    width: 30vw;
    align-self: center;
    font-size: 1.3em; 

    h2{
        color: red;
    }
}

main p:hover {
        color: #fbb1bd;
    }

#family-experience {
    color: white;
    &:active {
        font-size: 1.3em ;
    }
    &:visited {
        color: rgb(172, 96, 172);
    }
}

h3 + p {
    color: cornsilk;
}

footer {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    justify-items: center;
    align-items: center;
    height: 20vh;
}
