@import '_variable';

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: $bk-grd-color;
    color: $site-font-color;
    font-family: $site-font-fam;
}

header {
    background-color: black;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: $grid-temp-col;
    justify-items: center;
    align-items: center;
    height: $header-height;
}

#site-logo {
    height: $site-logo-width;
}

header a {
    color: white;
}

#menu-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    row-gap: 50px;
    margin-top: 5vh;
}
 .menu-item {
     height: 30vh;
 }

 .menu-item img {
     height: 70%;
 }

 h1 {
     grid-column: 1/ span 2;
     font-size: 3em;
 }

/* Mobile media query */
@media only screen and (max-width:400px) {
    h1 {
        font-size: 1.8em;
        color: springgreen;
    }
}

/* Tablet media query */
@media only screen and (min-width:700px) {
    h1 {
        font-size: 2.3em;
    }
}


/* Desktop media query */
@media only screen and (min-width:1200px) {
    h1 {
        color:red;
        font-size: 3em;
    }
}

@media (orientation: landscape) {
    body {
        background-color: tan;
    }
}


